<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <form action="/login" method="post" id="loginForm">
            <label for="username">username: </label>
            <input type="text" name="username" id="username" placeholder="Please enter username" required>

            <label for="password">password: </label>
            <input type="password" name="password" id="password" placeholder="Please enter password" required
                minlength="4">

            <button type="submit" id="log_in_btn">Log in</button>
            <button type="button" id="sign_up_btn" onclick="window.location.assign('/signup')">
                Sign up</button>
        </form>
    </div>

    <script src="/scripts/login.js"></script>
</body>

</html>