<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <form action="/signup" method="post" id="singupForm">

            <label for="username">username: </label>
            <input type="text" name="login" id="username" placeholder="Please enter username" required>

            <label for="email">email: </label>
            <input type="email" name="email" id="email" placeholder="Please enter email" required>

            <label for="password">password: </label>
            <input type="password" name="password" id="password" placeholder="Please enter password" required
                minlength="4">

            <button type="submit" id="create_acc_btn">Create Account</button>
            <button type="button" id="sign_in_btn" onclick="window.location.assign('/login')">Log in
            </button>
        </form>

        <script src="/scripts/signup.js"></script>
    </div>
</body>

</html>